################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
.vs/
obj/
Properties/
/BusinessLab/appsettings.json
/BusinessLab/appsettings.Development.json
/BusinessLab/Properties/launchSettings.json
