################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
.vs/
obj/
Properties/
/BusinessLab/appsettings.json
/BusinessLab/appsettings.Development.json
/BusinessLab/Properties/launchSettings.json
/BusinessLab/businesslab.db
/BusinessLab/businesslab_scheduler.sqbpro
/Backups/BusinessLab 11232023
/BusinessLab/Resource.resx
/BusinessLab/Resource.Designer.cs
/BusinessLab/Data/businesslab.db
/BusinessLab/Data/businesslab.sqbpro
/BusinessLab/Data/businesslab_scheduler.sqbpro
/BusinessLab/Data/Resource.resx
/BusinessLab/businesslab.db
/BusinessLab/Resource1.resx
