.SalesWizardBody{
    margin:50px
}
.EnvironmentSelection{
    margin-top:30px;
}
.ViewOrderHeader
{
    font-weight:bold;
}
.DynamicDataTextArea{
    width: 100%;
    height:250px;
}
.AppData{
    display:flex;
    margin-top:30px;
}