<script id="OrderResult_Template" type="text/template">

    <!--
        0 = codes html
        1 = data html
        2 = prop validations html
        3 = dynamic data html
        4 = fail messages html
        5 = Message
        6 = params html
        7 = success
        8 = success messages html
    -->
    <div class="ViewOrderHeader">Codes</div>
    <div>{0}</div>
    <div class="ViewOrderHeader">Data</div>
    <div>{1}</div>
    <div class="ViewOrderHeader">Property Validations</div>
    <div>{2}</div>
    <div id="JSONEditorViewer" class="ViewOrderHeader">Dynamic Data</div>
    <div><textarea class="DynamicDataTextArea">{3}</textarea></div>
    <div class="ViewOrderHeader">Fail Messages</div>
    <div>{4}</div>
    <div class="ViewOrderHeader">Message</div>
    <div>{5}</div>
    <div class="ViewOrderHeader">Params</div>
    <div>{6}</div>
    <div class="ViewOrderHeader">Success</div>
    <div>{7}</div>
    <div class="ViewOrderHeader">Success Messages</div>
    <div>{8}</div>

</script>
<script id="Session_Template" type="text/template">

    <!--
        0 = codes html
        1 = data html
        2 = prop validations html
        3 = dynamic data html
        4 = fail messages html
        5 = Message
        6 = params html
        7 = success
        8 = success messages html
    -->
    <div class="ViewOrderHeader">Codes</div>
    <div>{0}</div>
    <div class="ViewOrderHeader">Data</div>
    <div>{1}</div>
    <div class="ViewOrderHeader">Property Validations</div>
    <div>{2}</div>
    <div id="JSONEditorViewer" class="ViewOrderHeader">Dynamic Data</div>
    <div><textarea class="DynamicDataTextArea">{3}</textarea></div>
    <div class="ViewOrderHeader">Fail Messages</div>
    <div>{4}</div>
    <div class="ViewOrderHeader">Message</div>
    <div>{5}</div>
    <div class="ViewOrderHeader">Params</div>
    <div>{6}</div>
    <div class="ViewOrderHeader">Success</div>
    <div>{7}</div>
    <div class="ViewOrderHeader">Success Messages</div>
    <div>{8}</div>

</script>
<script id="AppStepGrid_Row_Template" type="text/template">

    <!--
        0 = step id
        1 = step name
        2 = workflow id
        3 = workflow name
        4 = step logs length: last 24 hours
        5 = step logs length: last 7 days
    -->
    <tr>
        <td>{0}</td>
        <td>{1}</td>
        <td>{2}</td>
        <td>{3}</td>
        <td><div class="btn btn-warning" style="width:55px;" onclick="Apps.Components.ATEC.Last24Hours({0});">{4}</div></td>
        <td><div class="btn btn-warning" style="width:55px;" onclick="Apps.Components.ATEC.Last7Days({0});">{5}</div></td>
    </tr>

</script>