.auth_passwordless_signincontainer {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:300;
    position:absolute;
}

.auth_passwordless_signin {
    width: 500px;
    height: 355px;
    outline: solid 0px black;
    background-color:cadetblue;
    display:flex;
    flex-direction:column;
}
