<div data-bind-template="BPLHeader"></div>
<div class="Home_Stage_Title">Areas</div>

<div>
    <div data-bind-property="Areas" data-bind-contenttype="html"></div>
</div>



<script id="Area_Table" type="text/template">
    <!--
        0 = area rows
    -->
    <table class="table">
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {0}
    </table>
</script>

<script id="Area_Row" type="text/template">
    <!--
        0 = area id
        1 = area name
        2 = actions html
    -->
    <tr>
        <td>{2}</td>
        <td><div class="btn btn-sm btn-success" onclick="Apps.Components.BPL.Areas.ViewAreaWorkflows({0});">Workflows</div></td>
        <td>{0}</td>
        <td>{1}</td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="areaworkflows_{0}" style="display:none;"></div>
        </td>
    </tr>
</script>

<script id="Workflow_Table" type="text/template">
    <!--
        0 = step rows
    -->
    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {0}
    </table>
</script>

<script id="Workflow_Row" type="text/template">
    <!--
        0 = workflow id
        1 = workflow name
        3 = steps html
    -->
    <tr>
        <td><div class="btn btn-sm btn-success" onclick="Apps.Components.BPL.Areas.ViewWorkflowSteps({0});">Steps</div></td>
        <td>{0}</td>
        <td>{1}</td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="workflowsteps_{0}" style="display:none;">{3}</div>
        </td>
    </tr>
</script>

<script id="Step_Table" type="text/template">
    <!--
        0 = step rows
    -->
    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {0}
    </table>
</script>

<script id="Step_Row" type="text/template">
    <!--
        0 = step id
        1 = step name
    -->
    <tr>
        <td>{0}</td>
        <td>{1}</td>
    </tr>
</script>

<script id="Areas_ButtonDropdown" type="text/template">
    <div class="dropdown">
        <a class="btn btn-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown">Actions </a>
        <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#">Link 1</a></li>
            <li><a class="dropdown-item" href="#">Link 2</a></li>
            <li><a class="dropdown-item" href="#">Link 3</a></li>
        </ul>
    </div>
</script>