<div data-bind-template="BPLHeader"></div>
<div class="Home_Stage_Title">Areas</div>

<div>
    <!--<div>
        <select data-bind-property="ConnectionID" class="form-control"></select>
    </div>-->
    <div data-bind-property="AreasHTML" data-bind-contenttype="html"></div>

</div>

<script id="Areas_ButtonDropdown" type="text/template">
    <div class="dropdown">
        <a class="btn btn-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown">Actions </a>
        <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#">Link 1</a></li>
            <li><a class="dropdown-item" href="#">Link 2</a></li>
            <li><a class="dropdown-item" href="#">Link 3</a></li>
        </ul>
    </div>
</script>