<div data-bind-template="BPLHeader"></div>
<div class="Home_Stage_Title">
    Home
</div>

<script id="BPLHeader" type="text/template">
    <div class="Home_Container">

        <div class="HeaderContainer_DivStyle">

            <div class="HeaderHeroHtml"></div>
            <!--<span class="Title_LoggedInAs">Working as: 
                <span class="LoggedInAs">Nobody</span> 
                <span class="btn btn-warning btn-sm" onclick="Apps.Components.BPL.ShowUsersDialog();">I Am</span>
            </span>-->

            <div style=" position: relative; top: -70px;">

                <!--<div class="dropdown">
                    <div class="btn btn-warning" style="margin-top: -2px;">Tools</div>
                    <div class="dropdown-content" style="z-index:999;">
                        <a href="#" onclick="Apps.Components.BPL.UseBuiltInDB();">Use Local DB</a>
                        <a href="#" onclick="Apps.Components.BPL.UseATECDevDB();">Use ATEC IT Dev</a>
                        <a href="#" onclick="Apps.Components.BPL.UseATECLiveDB();">Use ATEC IT Staging/Live</a>
                        <a href="#" onclick="Apps.Components.Apps.Tools.Common.Show();">Common Tools</a>
                        <a href="#" onclick="Apps.Components.Apps.Publish.Tools.Show();">Permissions</a>
                        <a href="#" onclick="Apps.Components.Home.Create.Templates.Show();">Templates</a>
                        <a href="#" onclick="Apps.Components.Helpers.Docs.Show();">Docs</a>
                        <a href="#" onclick="Apps.Components.Helpers.Login.Show();">Login</a>
                        <a href="#" onclick="Apps.Components.Journal.Show();">Journal</a>
                        <a href="#" onclick="Apps.Components.Helpers.Login.About();">About</a>
                    </div>
                </div>-->

                <!--<div class="btn btn-warning" onclick="Apps.Components.Apps.Track.Events.ShowHide();" style="float:right;margin-right:5px;">Events</div>-->

                <!--<div class="btn btn-success" onclick="Apps.connection.invoke('SendMessage', 'hi', 'ya');">Send</div>-->

                <!--<div class="dropdown">
                    <div class="btn btn-warning" style="margin-top: -2px;">New</div>
                    <div class="dropdown-content" style="z-index:999">
                        <a href="#" onclick="Apps.Components.Home.Create.List('software');">Software</a>
                        <a href="#" onclick="Apps.Components.Apps.New('system');">New System</a>
                        <a href="#" onclick="Apps.Components.Apps.New('app');">New App</a>
                    </div>
                </div>-->

            </div>
        </div>

        <div class="btn-group HeadsUp_StageButtons">
            <div class="btn btn-secondary StageButtons_Dashboard Home_StageButtons_First" onclick="Apps.Components.BPL.Dashboard2.Show();">Dashboard</div>
            <div class="btn btn-secondary StageButtons_Apps" onclick="Apps.Components.BPL.Apps.Show();">Apps</div>
            <div class="btn btn-secondary StageButtons_Actions" onclick="Apps.Components.BPL.Actions.Show();">Actions</div>
            <div class="btn btn-secondary StageButtons_Areas" onclick="Apps.Components.BPL.Areas.Show();">Areas</div>
            <div class="btn btn-secondary StageButtons_Areas" onclick="Apps.Components.BPL.Projects.Show();">Projects</div>
            <div class="btn btn-secondary StageButtons_Logs" onclick="Apps.Components.BPL.Logs.Show();">Logs</div>
            <!--<div class="btn btn-secondary StageButtons_Projects" onclick="Apps.Components.BPL.Projects.Show();">Projects</div>
    <div class="btn btn-secondary StageButtons_Tasks" onclick="Apps.Components.BPL.Tasks.Show();">Tasks</div>
    <div class="btn btn-secondary StageButtons_Notes" onclick="Apps.Components.BPL.Notes.Show();">Notes</div>
    <div class="btn btn-secondary StageButtons_Jobs" onclick="Apps.Components.BPL.Jobs.Show();">Jobs</div>
    <div class="btn btn-secondary StageButtons_Visuals" onclick="Apps.Components.BPL.Visuals.Show();">Visuals</div>-->
            <div class="btn btn-secondary StageButtons_Admin  Home_StageButtons_Last" onclick="Apps.Components.BPL.Admin.Show();">Admin</div>
        </div>
        <div style=" width: 100%; height: 3px; background: #1961AE;"></div>
    </div>
</script>

<script id="WorkingAs" type="text/template">
    <!--
        0 = user list html    
    -->
    <div>
        <div>
            Who are you?
        </div>
        <div>{0}</div>
    </div>
</script>


<script id="TempDashboardHeaderConfig" type="text/template">

    <img src="Images/ateclogo.png" style="border-radius: 8px; height: 40px; margin-top: -61px; margin-left: -1px;" />
    <span class="Title_SpanStyle">ATEC</span>
    <span class="SubTitle_SpanStyle">IT</span>
    <span data-bind-property="CurrentBPLConnection" class="CurrentBPLConnection"></span>

</script>