.DashboardContainerStyle {
    display:flex;
}
.DashboardColumnStyle{
    flex:1;
}
.DashboardAreaContainer {
    height: 100vh;
    width: 11.1vw;
    border: 1px solid #1961AE;
}
.DashboardAreaTitle {
    font-size: 1.5vw;
    text-align: center;
    padding: 2px;
    background: #1961AE;
    color: white;
}
.AreaSectionsTitle{
    text-align:center;
    margin-top:10px;
    font-size:1.1vw;
    font-weight:800;
}
.DashboardAreaStatus {
    border: solid 1px #1961AE;
    width: 2.7vw;

    font-size:1vw;
    display: none;
    text-align: center;
}
.DashboardStatusContainer {
    margin-top: 5px;
    justify-content: center;
    display: flex;
    /*    position: absolute;
    border: solid 1px #1961AE;
    width: 11vw;
    height: 20px;*/
}
.WorkflowStatusContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.DashboardStatus_Good {
    background-color: green;
}
.DashboardStatus_Bad {
    background-color:red;
}
.DashboardStatus_Ugly {
    background-color:orange;
}
.DashboardStatus_Info {
    background-color: white;
}
.DashboardWorkflowContainer {
 
    margin-left: 10px;
    margin-right:10px;
    text-align:center;
    font-size:1em;
}
.Dashboard_Status_Title {
    font-size: 1vw;
    font-weight: initial;
}
.DashboardWorkflowStatus {
    border: solid 1px #1961AE;
    width: 2.7vw;

    display: none;
    font-size:1vw;
}
.DashboardAppsContainer {
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.DashboardActionsContainer {
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.AppStatusContainer{
    display:flex;
    justify-content:center;
}
.AppLink{
    cursor:pointer;
}
.AppLink:hover{
    color:blue;
}