<div data-bind-template="BPLHeader"></div>

<div data-bind-property="DashboardContainer" data-bind-contenttype="html" class="DashboardContainerStyle"></div>

<script id="Area_Template" type="text/template">
    <!--
        0 = area id
        1 = area name
        2 = workflow html
        3 = apps html
        4 = actions html
    -->
    <div class="DashboardColumnStyle">

        <div class="DashboardAreaTitle">#{0} {1}</div>

        <div class="DashboardStatusContainer">
            <div class="DashboardAreaStatus DashboardStatus_Good"></div>
            <div class="DashboardAreaStatus DashboardStatus_Bad"></div>
            <div class="DashboardAreaStatus DashboardStatus_Ugly"></div>
            <div class="DashboardAreaStatus DashboardStatus_Info"></div>
        </div>

        <div data-bind-property="DashboardAreaWorkflows" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardWorkflowContainer"></div>
        <div data-bind-property="DashboardAreaApps" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardAppsContainer"></div>
        <div data-bind-property="DashboardAreaActions" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardActionsContainer"></div>

        <!--
        <div class="DashboardWorkflowContainer">
        <div class="DashboardStatusContainerTitle_{0}" style="font-size:1.5vw;font-weight:bold;">Workflows</div>
        {2}
    </div>

    <div class="DashboardAppsContainer">
        <div class="AppStatusContainerTitle_{0}" style="font-size: 1.5vw; font-weight: bold;">Apps</div>
        {3}
    </div>

    <div class="DashboardActionsContainer">
        <div class="ActionsStatusContainerTitle_{0}" style="font-size: 1.5vw; font-weight: bold;">Actions</div>
        {4}
    </div>-->
    </div>

</script>


<script id="Dashboard_WorkflowStatus_Template" type="text/template">
    <!--

    0 = area id
    1 = workflow id
    2 = workfow name
    3 = step count
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Areas.Workflows.Edit({1});">
            #{1}&nbsp;{2}&nbsp;({3})
        </span>
    </div>
    <div class="WorkflowStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good WorkflowStatus_Good_{0}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad WorkflowStatus_Bad_{0}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly WorkflowStatus_Ugly_{0}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info WorkflowStatus_Info_{0}"></div>
    </div>

</script>

<script id="Dashboard_AppStatus_Template" type="text/template">
    <!--

    0 = area id
    1 = app id
    2 = app name
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Apps.Edit({1});">
            #{1}&nbsp;{2}
        </span>
    </div>
    <div class="AppStatusContainer_{1}">
        <div class="DashboardWorkflowStatus DashboardStatus_Good AppStatus_Good_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad AppStatus_Bad_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly AppStatus_Ugly_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info AppStatus_Info_{1}"></div>
    </div>

</script>

<script id="Dashboard_ActionStatus_Template" type="text/template">
    <!--
    0 = area id
    1 = action id
    2 = action name
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Actions.EditSteps({1});">
            #{1}&nbsp;{2}
        </span>
    </div>
    <div class="ActionStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info"></div>
    </div>

</script>