<div data-bind-template="BPLHeader"></div>

<div data-bind-property="DashboardContainer" data-bind-contenttype="html" class="DashboardContainerStyle"></div>

<script id="Area_Template" type="text/template">
    <!--
        0 = area id
        1 = area name
        2 = workflow html
        3 = apps html
        4 = actions html
    -->
    <div class="DashboardColumnStyle">

        <div class="DashboardAreaTitle">#{0} {1}</div>

        <div class="DashboardStatusContainer DashboardStatusContainer_{0}">
            <div class="DashboardAreaStatus DashboardStatus_Good AreaStatus_Good_{0}" onclick="Apps.Components.BPL.Dashboard2.ViewAreaLogs({0}, 2);"></div>
            <div class="DashboardAreaStatus DashboardStatus_Bad AreaStatus_Bad_{0}" onclick="Apps.Components.BPL.Dashboard2.ViewAreaLogs({0}, 4);"></div>
            <div class="DashboardAreaStatus DashboardStatus_Ugly AreaStatus_Ugly_{0}" onclick="Apps.Components.BPL.Dashboard2.ViewAreaLogs({0}, 3);"></div>
            <div class="DashboardAreaStatus DashboardStatus_Info AreaStatus_Info_{0}" onclick="Apps.Components.BPL.Dashboard2.ViewAreaLogs({0}, 1);"></div>
        </div>
        <div class="AreaSectionsTitle">Workflows</div>
        <div data-bind-property="DashboardAreaWorkflows" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardWorkflowContainer"></div>
        <div class="AreaSectionsTitle">Apps</div>
        <div data-bind-property="DashboardAreaApps" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardAppsContainer"></div>
        <div class="AreaSectionsTitle">Actions</div>
        <div data-bind-property="DashboardAreaActions" data-bind-contenttype="html" data-bind-areaid="{0}" class="DashboardActionsContainer"></div>

    </div>

</script>


<script id="Dashboard_WorkflowStatus_Template" type="text/template">
    <!--
    0 = area ids
    1 = workflow id
    2 = workfow name
    3 = step count
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Areas.Workflows.Edit({1});">
            #{1}&nbsp;{2}&nbsp;({3})
        </span>
    </div>
    <div class="WorkflowStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good WorkflowStatus_Good_{1}" onclick="Apps.Components.BPL.Dashboard2.ViewWorkflowLogs({1}, 2);"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad WorkflowStatus_Bad_{1}" onclick="Apps.Components.BPL.Dashboard2.ViewWorkflowLogs({1}, 4);"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly WorkflowStatus_Ugly_{1}" onclick="Apps.Components.BPL.Dashboard2.ViewWorkflowLogs({1}, 3);"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info WorkflowStatus_Info_{1}" onclick="Apps.Components.BPL.Dashboard2.ViewWorkflowLogs({1}, 1);"></div>
    </div>

</script>

<script id="Dashboard_AppStatus_Template" type="text/template">
    <!--

    0 = area id
    1 = app id
    2 = app name
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Apps.Edit({1});">
            #{1}&nbsp;{2}
        </span>
    </div>
    <div class="AppStatusContainer AppStatusContainer_{1}">
        <div class="DashboardWorkflowStatus DashboardStatus_Good AppStatus_Good_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad AppStatus_Bad_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly AppStatus_Ugly_{1}"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info AppStatus_Info_{1}"></div>
    </div>

</script>

<script id="Dashboard_ActionStatus_Template" type="text/template">
    <!--
    0 = area id
    1 = action id
    2 = action name
    -->
    <div class="Dashboard_Status_Title">
        <span class="AppLink" onclick="Apps.Components.BPL.Actions.EditSteps({1});">
            #{1}&nbsp;{2}
        </span>
    </div>
    <div class="ActionStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info"></div>
    </div>

</script>