<div data-bind-template="BPLHeader"></div>

<div data-bind-property="AreaContainerHTML" data-bind-contenttype="html" class="AreaContainerHTML">

</div>

<script id="Dashboard_Area_Template" type="text/template">
    <!--
        0 = area id
        1 = area name
        2 = workflow html
        3 = apps html
        4 = actions html
    -->
    <div class="DashboardAreaContainer">
        <div class="DashboardAreaTitle">#{0} {1}</div>
        <div class="DashboardStatusContainer">
            <div class="DashboardAreaStatus DashboardStatus_Good"></div>
            <div class="DashboardAreaStatus DashboardStatus_Bad"></div>
            <div class="DashboardAreaStatus DashboardStatus_Ugly"></div>
            <div class="DashboardAreaStatus DashboardStatus_Info"></div>
        </div>

        <div class="DashboardWorkflowContainer">
            <div style="font-size:1.5vw;font-weight:bold;">Workflows</div>
            {2}
        </div>

        <div class="DashboardAppsContainer">
            <div style="font-size: 1.5vw; font-weight: bold;">Apps</div>
            {3}
        </div>

        <div class="DashboardActionsContainer">
            <div style="font-size: 1.5vw; font-weight: bold;">Actions</div>
            {4}
        </div>

    </div>
</script>

<script id="Dashboard_WorkflowStatus_Template" type="text/template">
    <!--
    0 = workfow name    
    -->
    <div style="font-size:1.5vw;">{0}</div>
    <div class="WorkflowStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info"></div>
    </div>

</script>

<script id="Dashboard_AppStatus_Template" type="text/template">
    <!--
    0 = app name
    -->
    <div class="AppStatusContainerTitle" style="font-size:1.5vw;">{0}</div>
    <div class="AppStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info"></div>
    </div>

</script>

<script id="Dashboard_ActionStatus_Template" type="text/template">
    <!--
    0 = action name
    -->
    <div class="ActionsStatusContainerTitle" style="font-size:1.5vw;">{0}</div>
    <div class="ActionStatusContainer">
        <div class="DashboardWorkflowStatus DashboardStatus_Good"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Bad"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Ugly"></div>
        <div class="DashboardWorkflowStatus DashboardStatus_Info"></div>
    </div>

</script>