<script id="Admin_Main" type="text/template">

    <div id="Admin_Main_Container" style="margin:30px;">

        <div id="Admin_Header_Container">
            <div class="btn btn-success" onclick="Apps.Components.Admin.Issues.Refresh();">Refresh</div>
            <!--Sign in/out button moved here-->
        </div>

        <!--<div>


            <div id="tabstripAdmin" data-type="tabstrip">
                <div data-tabstrip-tabtitle="Home" data-tabstrip-templateid="templateTabHome"></div>
                <div data-tabstrip-tabtitle="Editor" data-tabstrip-templateid="templateTabEditor"></div>
                <div data-tabstrip-tabtitle="TODO" data-tabstrip-templateid="templateTabTODO"></div>
            </div>

        </div>-->
        <div id="Admin_Home"></div>

    </div>

    <div id="Admin_Modal_Background" class="bg"></div>

</script>

<script id="MySpecialty_Main" type="text/template">

    <div class="MySpecialty_Container">
        <div class="MySpecialty_Featured"></div>
        <div style="display: flex; margin-top: -15px; margin-bottom: 15px;">
            <!--<div style="font-size:4vw;margin:20px;font-weight:700;">My Specialty</div>-->
            <div style="margin:auto;">
                <img src="ateclogo.png" style="height:9vh;" />
            </div>
        </div>
        <div class="MySpecialty_AreaHeader">My Apps</div>
        <div class="MySpecialty_Favorites"></div>

        <div class="MySpecialty_AreaHeader">All Apps</div>

        <div style="margin-top:60px;">


            <div id="tabstripLibraryViews" data-type="tabstrip">
                <div data-tabstrip-tabtitle="Apps" data-tabstrip-templateid="templateTabByApp"></div>
                <div data-tabstrip-tabtitle="Workflow" data-tabstrip-templateid="templateTabByProcess"></div>
            </div>

            <!--<div class="MySpecialty_Library"></div>-->
        </div>
    </div>


</script>

<script id="MySpecialty_Areas_Row" type="text/template">

    <!--
        0 = area name
        1 = area id
        2 = apps html
        3 = actions html
        4 = reports html
        5 = area endpoints html
        6 = area workflows html
    -->
    <tr>
        <td>
            <div>
                <div class="MySpecialty_AreaHeader">{0}</div>
                <div id="MySpecialty_Area_{1}" class="MySpecialty_Area_Container">



                    <div style="margin:15px;">
                        <div class="MySpecialty_AreaHeader_Title"></div>
                        <div style="margin-bottom: 20px; display: flex; flex-direction: row; flex-wrap: wrap;">
                            {2}
                        </div>


                    </div>
                </div>
        </td>
    </tr>

</script>

<script id="WorkflowsRow" type="text/template">

    <!--
        0 = area name
        1 = area id
        2 = workflow html
    -->
    <tr>
        <td>
            <div>
                <div class="MySpecialty_AreaHeader">{0}</div>
                <div id="MySpecialty_Area_{1}" class="MySpecialty_Area_Container">


                    <div style="margin:15px;">

                        <div class="MySpecialty_AreaHeader_Title"></div>
                        <div style="margin-bottom: 20px; display: flex; flex-direction: row; flex-wrap: wrap;">
                            {2}
                        </div>

                    </div>

                </div>
            </div>
        </td>
    </tr>

</script>

<script id="MySpecialty_Thumbnail" type="text/template">

    <!--
        0 = app name
        1 = app id
        2 = thumbnail url
        3 = app obj
        4 = image display
        5 = app description
    -->

    <div id="MySpecialty_Thumbnail_Container_{1}" class="MySpecialty_Step_Container">

        <div class="dropdown" style="position: relative; right: -9px; top: -17px;">
            <i class="fa-solid fa-ellipsis"></i>
            <div class="dropdown-content">
                <a href="#" onclick="Apps.Components.ATEC.IT.MySpecialty.Max('{3}');">Open</a>
                <a href="#" onclick="Apps.Components.ATEC.IT.MySpecialty.ShowSettings('{3}',0);">Settings</a>
                <a href="#" onclick="Apps.Components.ATEC.IT.MySpecialty.Icon('{3}');">Pin Icon</a>
                <a href="#" onclick="Apps.Components.ATEC.IT.MySpecialty.Mid('{3}');">Pin Medium View</a>
            </div>
        </div>



        <div style="font-size:15px; font-weight:bold;">#{1} {0}</div>
        <div style="font-size:x-small;">{5}</div>

        <!--<img id="MySpecialty_Thumbnail_Image_{1}" src="{2}" title="{0} Thumbnail" style="display:{4}; width: 10vw; height: 10vh;" />-->
        <div id="MySpecialty_MiniAppStatus_Container_{1}" style="display:none;position:absolute;bottom:5px;">
            <div id="MySpecialty_MiniAppStatus_Good_{1}"
                 class="MySpecialty_MiniStatus"
                 style="background: #1961AE;"
                 onclick="Apps.Components.ATEC.IT.MySpecialty.ShowSettings('{3}', 0);"></div>

            <div id="MySpecialty_MiniAppStatus_Bad_{1}"
                 class="MySpecialty_MiniStatus"
                 style="background:red;"
                 onclick="Apps.Components.ATEC.IT.MySpecialty.ShowSettings('{3}', 1);"></div>

            <div id="MySpecialty_MiniAppStatus_Ugly_{1}"
                 class="MySpecialty_MiniStatus" style="background:yellow;"
                 onclick="Apps.Components.ATEC.IT.MySpecialty.ShowSettings('{3}', 2);"></div>

            <div id="MySpecialty_MiniAppStatus_Info_{1}"
                 class="MySpecialty_MiniStatus"
                 style="background:white;"
                 onclick="Apps.Components.ATEC.IT.MySpecialty.ShowSettings('{3}', 3);"></div>

            <div id="MySpecialty_MiniAppStatus_Issue_{1}" class="MySpecialty_MiniStatus" style="background:blue;"></div>
        </div>
    </div>

    <!--<div id="MySpecialty_ThumbnailMenu_{1}" class="MySpecialty_Thumbnail">

        <div>
            <div style="border: 1px solid black; padding: 3px">Pin To Featured</div>
            <div style="border: 1px solid black; padding: 3px">Pin To Favorites</div>
        </div>

    </div>-->

</script>

<script id="MySpecialty_Max" type="text/template">

    <!--
        0 = apps id
        1 = app name
        2 = url
    -->

    <div id="MySpecialty_Max_Container_{0}" class="MySpecialty_Max_Container MySpecialty_ShowApp_Container">

        <div class="ShowApp_CloseButton"
             onclick="Apps.Components.ATEC.IT.MySpecialty.CloseMax();">X</div>

        <h4>{1}</h4>
        <div style="cursor:pointer;" onclick="Apps.Components.ATEC.IT.MySpecialty.PinToFavoritesChange({0});">
            <input id="chkPinToFavorites" type="checkbox" /><span style="margin-left:10px;">Pin To Favorites</span>
        </div>

        <!--Refresh-->
        <div style="cursor:pointer;" onclick="Apps.Components.ATEC.IT.MySpecialty.RefreshChange({0});">
            <input id="chkEnableRefresh" type="checkbox" /><span style="margin-left:10px;">Refresh</span>
        </div>


        <div id="MySpecialty_Max_AppDisplay">
            <h3>Today's Logs</h3>
            <div id="MySpecialty_Max_LogContainer"></div>
        </div>

    </div>
</script>

<script id="MySpecialty_Max_Logs" type="text/template">

    <div id="tabstripMaxLogs" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Good" data-tabstrip-templateid="templateTabGood"></div>
        <div data-tabstrip-tabtitle="Bad" data-tabstrip-templateid="templateTabBad"></div>
        <div data-tabstrip-tabtitle="Ugly" data-tabstrip-templateid="templateTabUgly"></div>
        <div data-tabstrip-tabtitle="Info" data-tabstrip-templateid="templateTabInfo"></div>
        <div data-tabstrip-tabtitle="Issues" data-tabstrip-templateid="templateTabIssues"></div>
    </div>


</script>

<script id="MySpecialty_ShowApp" type="text/template">

    <!--
        0 = apps id
        1 = app name
        2 = url
        3 = app html
    -->

    <div id="MySpecialty_ShowApp_Container_{0}" class="MySpecialty_Max_Container MySpecialty_ShowApp_Container">

        <div class="ShowApp_CloseButton"
             onclick="Apps.Components.ATEC.IT.MySpecialty.CloseMax();">X</div>

        <h4>{1}</h4>

        <div>
            {3}
        </div>

    </div>
</script>


<script id="MySpecialty_AreaApps_Row" type="text/template">

    <!--
        0 = app name
        1 = app id

    -->
    <tr>
        <td>
            <div style="font-size:1.2rem;">{0}</div>
            <div id="MySpecialty_AreaApp_{1}" class="MySpecialty_AreaApp_Container"></div>
        </td>
    </tr>

</script>

<script id="MySpecialty_AreaFlows" type="text/template">

    <!--
        0 = app name
        1 = app id
    -->
    <tr>
        <td>
            <div style="font-size:1.2rem;">{0}</div>
            <div id="MySpecialty_AreaFlow_{1}" class="MySpecialty_AreaFlow_Container"></div>
        </td>
    </tr>

</script>

<script id="MySpecialty_EndpointThumbnail" type="text/template">

    <!--
        0 = app name
        1 = app id
        2 = app description
        3 = app obj
    -->

    <div id="MySpecialty_EndpointThumbnail_Container_{1}"
         class="MySpecialty_EndpointThumbnail_Container"
         onclick="Apps.Components.Admin.MySpecialty.ClickThumbnail('{3}');">

        <div style="font-size: 0.5rem; font-weight:bold; background: white;">{0}</div>
        <div style="font-size: 0.5rem; background: white;">{2}</div>

    </div>

</script>

<script id="MySpecialty_Favorite_Link" type="text/template">

    <!--
        0 = apps id
        1 = app name
        2 = url
    -->

    <div id="MySpecialty_Favorite_Container_{0}" class="MySpecialty_Favorite_Container">

        <table style="width:100%;">
            <tr>
                <td>
                    <div id="MySpecialty_StatusGroup" style="display:flex;flex-direction:row">
                        <div id="MySpecialty_StatusBox_Successes" class="MySpecialty_StatusBox"
                             onclick="Apps.Components.Admin.MySpecialty.AddThrob();"></div>
                        <div id="MySpecialty_StatusBox_Failures" class="MySpecialty_StatusBox"></div>
                        <div id="MySpecialty_StatusBox_OldFailures" class="MySpecialty_StatusBox"></div>
                        <div id="MySpecialty_StatusBox_Issues" class="MySpecialty_StatusBox"></div>
                    </div>
                </td>
                <td>
                    <div class="btn-group" style="float:right">
                        <div class="btn btn-sm btn-secondary" onclick="Apps.Components.Admin.MySpecialty.PinToFavoritesChange({0});">X</div>
                        <div class="btn btn-sm btn-secondary" onclick="Apps.Components.Admin.MySpecialty.Max('{5}');">&#9632;</div>
                    </div>
                </td>
            </tr>
        </table>

        <h4>{1}</h4>
        <a href="{2}" target="_blank">Open {1}</a>
    </div>

</script>
<script id="MySpecialty_Favorite_Report" type="text/template">

    <!--
        0 = apps id
        1 = report name
        2 = report description
        3 = report html
        4 = report id
        5 = apps obj string
        6 = report as of
    -->

    <div id="MySpecialty_Favorite_Container_{0}"
         class="MySpecialty_Favorite_Container">

        <table style="float:right;">
            <tr>
                <td>
                    <!--<div id="MySpecialty_StatusGroup" style="display:flex;flex-direction:row">
                        <div id="MySpecialty_StatusBox_Successes" class="MySpecialty_StatusBox"
                             onclick="Apps.Components.Admin.MySpecialty.AddThrob();"></div>
                        <div id="MySpecialty_StatusBox_Failures" class="MySpecialty_StatusBox"></div>
                        <div id="MySpecialty_StatusBox_OldFailures" class="MySpecialty_StatusBox"></div>
                        <div id="MySpecialty_StatusBox_Issues" class="MySpecialty_StatusBox"></div>
                    </div>-->
                </td>
                <td>
                    <div class="btn-group" style="float:right">
                        <div class="btn btn-sm btn-secondary" onclick="Apps.Components.Admin.MySpecialty.PinToFavoritesChange({0});">X</div>
                        <div class="btn btn-sm btn-secondary" onclick="Apps.Components.Admin.MySpecialty.Max('{5}');">&#9632;</div>
                    </div>
                </td>
            </tr>
        </table>


        <div><i>Report #{4} As Of <span id="MySpecialty_Favorite_ReportAsOf">{6}</span></i></div>
        <h4>{1}</h4>
        <p>{2}</p>
        <!--<svg id="MySpecialty_Favorite_ReportContainer_{0}" width="350" height="180"></svg>-->
        <div id="MySpecialty_Favorite_ReportContainer_{0}"></div>
    </div>

</script>
