
<div class="Create_Container Stage_Container">

    <div class="Home_Stage_Title">Create</div>
    <div data-bind-component="Apps.Home.Create.Fund1()">

    </div>
    <div data-bind-component="Apps.Home.Create.Prop1">

    </div>
    <div id="tabstripCreateStage" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Actions" data-tabstrip-templateid="templateTabActions"></div>
        <div data-tabstrip-tabtitle="Workflows" data-tabstrip-templateid="templateTabWorkflows"></div>
        <!--<div data-tabstrip-tabtitle="Code Gen" data-tabstrip-templateid="templateTabCodeGen"></div>-->
        <div data-tabstrip-tabtitle="Visuals" data-tabstrip-templateid="templateTabVisuals"></div>
    </div>

</div>
    

<script id="createtemplate" type="text/template">

    <div>
        <div data-bind-component="Apps.Components.Home.Create.Model.Func1()">

        </div>
        <div data-bind-component="Apps.Components.Home.Create.Model.Prop1">

        </div>

        <input type="text" data-bind-component="Apps.Components.Home.Create.Model.Prop1" value="hi" />
    </div>

</script>