
<div class="Create_Container Stage_Container">

    <div class="Home_Stage_Title">Create</div>

    <div id="tabstripCreateStage" data-type="tabstrip">
        <div data-tabstrip-tabtitle="Actions" data-tabstrip-templateid="templateTabActions"></div>
        <div data-tabstrip-tabtitle="Workflows" data-tabstrip-templateid="templateTabWorkflows"></div>
        <!--<div data-tabstrip-tabtitle="Code Gen" data-tabstrip-templateid="templateTabCodeGen"></div>-->
        <div data-tabstrip-tabtitle="Visuals" data-tabstrip-templateid="templateTabVisuals"></div>
    </div>

</div>
    

