﻿.TemplatesContentStyle {
    position: absolute;
    top: 59px;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    width: 97vw;
    height: 90vh;
    margin-left: 1vw;
    background-color: white;
    z-index: 200;
    overflow: auto;
}
