<script id="Bar" type="text/template">

    <div id="divDebug" class="debugContainerStyle">
        <div class="btn-group debugbuttongroup">
            <ul class="top-level-menu btn btn-secondary">

                <li>
                    <a id="linkAppsDataButton" style="border-radius: 5px; border-radius: 5px; margin-top: -5px; padding-top: 6px;" href="#">Data</a>

                    <ul class="data second-level-menu"></ul>

                </li>

            </ul>
            <!--<div class="btn btn-primary" onclick="Apps.Components.Debug.ShowComponents();">Components</div>-->
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.Event('design');">Trace</div>
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.RunTests();">Run Tests</div>
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.ShowBinding();">Binding</div>
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.ShowComponents();">Components</div>
            <div class="btn btn-danger" onclick="Apps.Components.Kentico.Sales.SalesWizard.ClearSalesWizardOrder();">Clear Sales Wizard Order</div>
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.ShowTasks();">Tasks</div>
            <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.ShowApp(9);">Sales Admin</div>

        </div>
        <div class="btn btn-secondary" style="float: right; margin-top: 10px; margin-right: 10px;" onclick="Apps.Components.Helpers.Debug.CloseDebugBar();">Close</div>
    </div>

    <div id="Debug_Test_Results" class="TestResultsContentStyle">
        <div id="Debug_TestResults_Header"></div>
        <div id="Debug_TestResults_Content"></div>
    </div>

</script>

<script id="TestStep" type="text/template">

    <!--
        0 = step name
        1 = step description
        2 = passed
        3 = notes
        4 = color
        5 = index
        6 = fail message
    -->
    <div id="Debug_TestStep_IndexNumber{5}" style="padding-left:5px; font-size:12px;">{5}</div>
    <div id="Debug_TestStep_StepName{5}" style="padding-left: 5px; width: 80px; font-size: 12px; font-weight: bold;">{0}</div>
    <div id="Debug_TestStep_StepDescription{5}" style="padding-left: 5px; width: 100px; font-size: 12px; font-style: italic;">{1}</div>
    <div id="Debug_TestStep_FailMessage{5}" style="display:none;padding-left: 5px; width: 100px; font-size: 12px; font-style: italic;">{6}</div>

    <!--<div>{3}</div>-->
    <div id="Debug_SUT_Step{5}_PassedDiv" style=" position: absolute; right: 7px; background-color:{4};width:20px;height:20px;margin:6px"></div>
</script>

<script id="Debug_TestRunner_Buttons" type="text/template">

    <!--
        0 = escaped result html
    -->
    <div class="btn-group" style="position: relative; margin-left: 70px; margin-top: 5px;">
        <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.OpenTestRunnerResults('{0}');">Results</div>
        <div class="btn btn-secondary" onclick="Apps.Components.Helpers.Debug.CloseTestRunner();">Close</div>
    </div>

</script>

<script id="Window" type="text/template">

    <!--
        0 = Component tree html
        1 = Component detail
        2 = Preview
    -->
    <table>
        <tr>
            <td valign="top">{0}</td>
            <td valign="top" style="padding-left:10px;">{1}</td>
            <!--<td valign="top" style="padding-left:10px;"><div id="debug_PreviewContainer">{2}</div></td>-->
        </tr>
    </table>

</script>

<script id="Preview" type="text/template">
    <!--
        0 = iFrame source
    -->
    <div id="debug_PreviewIframe">
        <iframe src="{0}" style="width: 100vw; height: 100vh;"></iframe>
    </div>
</script>

<script id="ComponentEditorTabs" type="text/template">

    <!--
    0 = preview iframe    
    -->
    <div style="position:absolute;">
        <div style="display:flex">
            <div class="EditorButtons" onclick="Apps.Components.Helpers.Debug.ShowHTML();">HTML</div>
            <div class="EditorButtons" onclick="Apps.Components.Helpers.Debug.ShowJS();">JS</div>
            <div class="EditorButtons" onclick="Apps.Components.Helpers.Debug.ShowCSS();">CSS</div>
            <div class="EditorButtons" onclick="Apps.Components.Helpers.Debug.ShowDATA();">Data</div>
            <div style="margin-left:20px;">Preview: Reload: <b>5s</b></div>
        </div>
        <div>
            <div class="EditorViewers HTML"><div id="HTMLEditorViewer" class="ViewerStyle"></div></div>
            <div class="EditorViewers JS"><div id="JSEditorViewer">there</div></div>
            <div class="EditorViewers CSS"><div id="CSSEditorViewer">you</div></div>
            <div class="EditorViewers DATA"><div id="DATAEditorViewer">guys</div></div>
        </div>
        <div class="PreviewViewer">{0}</div>
    </div>

    <!--<div id="ComponentEditorTabstrip" data-type="tabstrip">
        <div data-tabstrip-tabtitle="HTML" data-tabstrip-templateid="ComponentEditor_HTMLTab"></div>
        <div data-tabstrip-tabtitle="JS" data-tabstrip-templateid="ComponentEditor_JSTab"></div>
        <div data-tabstrip-tabtitle="DATA" data-tabstrip-templateid="ComponentEditor_DataTab"></div>
    </div>-->

</script>

<script id="Settings" type="text/template">

    <h3>Apps Settings</h3>
    <h4>Web Root</h4>
    <input id="txtWebRoot" value="{0}" class="form-control" />
    <h4>Port</h4>
    <input id="txtPort" value="{1}" class="form-control" />
    <h4>Virtual Folder</h4>
    <input id="txtVirtualFolder" value="{2}" class="form-control" />
    <h4>Apps Root</h4>
    <input id="txtAppsRoot" value="{3}" class="form-control" />
    <h4>Required Components</h4>
    <input id="txtRequired" value="{4}" class="form-control" />

</script>

<script id="Debug_HTMLEditor" type="text/template">

    <!--
        0= templates
    -->
    <div style="display:flex; flex-flow:row">
        <div>left {0}</div>
        <div>right</div>

    </div>

</script>

<!--<script id="Debug_ShowBar_Hoveree" type="text/template">

    <div style="position:absolute; top:0px; left:0px; width:10px; height:10px" onmouseover="$('#divDebug').show();" onmouseout=""></div>

</script>-->
