.EditTestContentStyle {
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    
    background-color: white;
    z-index: 300;
    margin: 1vw;
    padding: 1vw;
    overflow: auto;
}
