<div class="Home_Container">

    <div class="HeaderContainer_DivStyle">

        <img src="Images/ateclogo.png" style="height:40px;" />
        <!--<span class="Title_SpanStyle">ATEC</span>-->
        <!--<span class="SubTitle_SpanStyle">IT</span>-->

        <div class="dropdown">
            <div class="btn btn-warning" style="margin-top: -2px;">Tools</div>
            <div class="dropdown-content" style="z-index:999;">
                <a href="#" onclick="Apps.Components.Apps.Tools.Common.Show();">Common Tools</a>
                <a href="#" onclick="Apps.Components.Apps.Publish.Tools.Show();">Permissions</a>
                <a href="#" onclick="Apps.Components.Home.Create.Templates.Show();">Templates</a>
                <a href="#" onclick="Apps.Components.Helpers.Docs.Show();">Docs</a>
                <a href="#" onclick="Apps.Components.Helpers.Login.Show();">Login</a>
                <a href="#" onclick="Apps.Components.Journal.Show();">Journal</a>
                <a href="#" onclick="Apps.Components.Helpers.Login.About();">About</a>
            </div>
        </div>

        <div class="btn btn-warning" onclick="Apps.Components.Apps.Track.Events.ShowHide();" style="float:right;margin-right:5px;">Events</div>

        <!--<div class="btn btn-success" onclick="Apps.connection.invoke('SendMessage', 'hi', 'ya');">Send</div>-->

        <div class="dropdown">
            <div class="btn btn-warning" style="margin-top: -2px;">New</div>
            <div class="dropdown-content" style="z-index:999">
                <a href="#" onclick="Apps.Components.Home.Create.List('software');">Software</a>
                <a href="#" onclick="Apps.Components.Apps.New('system');">New System</a>
                <a href="#" onclick="Apps.Components.Apps.New('app');">New App</a>
                <!--<a href="#" onclick="Apps.Components.Plan.Apps.Stories.New('story');">New Story</a>-->
            </div>
        </div>


    </div>

    <div class="btn-group HeadsUp_StageButtons">
        <div class="btn btn-secondary StageButtons_Dashboard Home_StageButtons_First" onclick="Apps.Components.Home.Show();">Dashboard</div>
        <div class="btn btn-secondary StageButtons_Apps" onclick="Apps.Components.Home.Plan.Show();">Apps</div>
        <div class="btn btn-secondary StageButtons_Actions" onclick="Apps.Components.Home.Create.Show();">Actions</div>
        <div class="btn btn-secondary StageButtons_Areas" onclick="Apps.Components.Home.Test.Show();">Areas</div>
        <div class="btn btn-secondary StageButtons_Logs" onclick="Apps.Components.Home.Publish.Show();">Logs</div>
        <div class="btn btn-secondary StageButtons_Projects" onclick="Apps.Components.Home.Track.Show();">Projects</div>
        <div class="btn btn-secondary StageButtons_Tasks" onclick="Apps.Components.Home.Track.Show();">Tasks</div>
        <div class="btn btn-secondary StageButtons_Notes" onclick="Apps.Components.Home.Track.Show();">Notes</div>
        <div class="btn btn-secondary StageButtons_Jobs" onclick="Apps.Components.Home.Track.Show();">Jobs</div>
        <div class="btn btn-secondary StageButtons_Visuals" onclick="Apps.Components.Home.Track.Show();">Visuals</div>
        <div class="btn btn-secondary StageButtons_Admin  Home_StageButtons_Last" onclick="Apps.Components.BL.Admin.Show();">Admin</div>
    </div>
    <div style=" width: 100%; height: 3px; background: #1961AE;"></div>
</div>
<div class="HomeContent_Container Stage_Container">
    <div class="Home_Stage_Title">
        Home
    </div>
    
</div>
